<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.cake.theredalliance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheRedAlliance">
        <activity android:name=".ConfigMenu"></activity>
        <activity android:name=".TeamViewer" />
        <activity
            android:name=".MatchActivity"
            android:label="@string/title_activity_match" />
        <activity
            android:name=".SurveyActivity"
            android:label="@string/title_activity_survey" />
        <activity android:name=".InterviewActivity" />
        <activity android:name=".TeamActivity" />
        <activity android:name=".DisplayGroup1Activity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.TheRedAlliance.NoActionBar" />
    </application>

</manifest>